
@{
   /* Validation.RequireField("supplierName", "Supplier name is required.");
    Validation.RequireField("contactPerson", "Contact name is required.");
    Validation.RequireField("addressLine1", "1st line of address  is required.");
    Validation.RequireField("town", "Town name is required.");
    Validation.RequireField("city", "City name is required.");
    Validation.RequireField("postCode", "Post code is required.");
    Validation.RequireField("telephone", "Telephone number is required.");
    Validation.RequireField("mobile", "Mobile number is required.");
    Validation.RequireField("Email", "Supplier's email is required.");
    Validation.RequireField("webSite", "Supplier's website is required.");*/
    
    

  
    var supplierName = Request.Form["SupplierName"];
    var contactPerson = Request.Form["ContactPerson"];
    var addressLine1 = Request.Form["AddressLine1"];
    var town = Request.Form["Town"];
    var city = Request.Form["City"];
    var postCode = Request.Form["PostCode"];
    var telephone = Request.Form["Telephone"];    
    var mobile = Request.Form["Mobile"];    
    var email = Request.Form["Email"];    
    var webSite = Request.Form["WebSite"];

    var db = Database.Open("MeridianComputers");
   
    
        if (IsPost && Validation.IsValid()) {
            // Define the insert query. The values to assign to the
            // columns in the Product table are defined as parameters
            // with the VALUES keyword.
            if(ModelState.IsValid) {
                var insertQuery = "INSERT INTO Supplier (SupplierName,ContactPerson,AddressLine1,Town,City,PostCode,Telephone,Mobile,email,WebSite) " +
                    "VALUES (@0, @1, @2,@3,@4,@5,@6,@7,@8,@9)";
                db.Execute(insertQuery, supplierName,contactPerson,addressLine1,town,city,postCode,telephone,mobile,email,webSite);
                // Display the page that lists products.
                Response.Redirect("~/Members/Supplier/Suppliers");
            }
        } 
    
}

<!DOCTYPE html>
<html>
<head>
 <title>Add Suppliers</title>
 
 <link href="~/content/bootstrap.css" rel="stylesheet" media="screen" type="text/css">
 <link href="~/content/myStyles.css" rel="stylesheet" media="screen" type="text/css">
 <link href="~/content/StyleSheet.css" rel="stylesheet" media="screen" type="text/css">
<style>
      body{color: #e2cbcb} 
      .validation-summary-errors{border:2px none red;color:red;font-weight:bold; margin:12px; background-color: #b6ff00}
      .input-validation-valid{display: none;}
      p.itemdesc { color:#f00; display: inline; font-size: 25px; } 
      pre.itemdesc { color:#000; display: inline; font-size: 15px;} 
      pre.itemdesc1 { color:#0026ff; display: inline; font-size: 12px; padding: 5px; height: fit-content;background-color: #e2cbcb} 
      p.itemvalue{ color: #ffd800; display: inline; font-size:20px; background-color: #168800;}
      select.itemvalue{ color: #ffd800; display: inline; font-size:20px; background-color: #808080; font-size: 15px}
      pre.itemvalue{ color: #000;display: inline;font-size:15px; background-color: #BFF3F5;}       
      input.myInputboxStyle {color: #000;display: inline;font-size:15px; background-color: #f7f1ed} 
      textarea.myInputboxStyle {color: #000;display: inline;font-size:15px; background-color: #f7f1ed;width: 300px;height: 100px}      
 </style> 
</head>
<body>
 

@Html.ValidationSummary("")

<form method="post" action="">
     <div class="row>">
       <div class="col-md-2"></div>
       <div class="col-md-10">
         <form method="post" action="">
               <h2>Add New Supplier</h2><br/>
               <pre class="itemdesc">Name:</pre>
               <input required class="myInputboxStyle" name="SupplierName" type="text" size="45"  value="@supplierName" /> <br/><br/> 
               <pre class="itemdesc">Contact Name:</pre>
               <input class="myInputboxStyle" name="ContactPerson" type="text" size="30" value="@contactPerson" /><br/><br/>
               <pre class="itemdesc">Address:</pre>
               <input required class="myInputboxStyle" name="AddressLine1" type="text" size="35" value="@addressLine1" /><br/><br/>
               <pre class="itemdesc">Town:</pre>
               <input class="myInputboxStyle" name="Town" type="text" size="25" value="@town" /> <br/><br/>
               <pre class="itemdesc">City:</pre>
               <input  class="myInputboxStyle" name="City" type="text" size="25" value="@city" /><br/><br/>
               <pre class="itemdesc">Post Code:</pre>
               <input required class="myInputboxStyle" name="PostCode" type="text" size="5" value="@postCode" /><br/><br/>
               <pre class="itemdesc">Telephone:</pre>
               <input class="myInputboxStyle" name="Telephone" type="text" size="20" value="@telephone" /><br/><br/>
               <pre class="itemdesc">Mobile:</pre>
               <input required class="myInputboxStyle" name="Mobile" type="text" size="20" value="@mobile" /><br/><br/>
               <pre class="itemdesc">EMail:</pre>
               <input required class="myInputboxStyle" name="Email" type="text" size="25" value="@email" /><br/><br/>
               <pre class="itemdesc">Website:</pre>
               <input class="myInputboxStyle" name="WebSite" type="text" size="25" value="@webSite" /><br/><br/>
                           
               <button type="submit" class="btn btn-success btn-sm" name="buttonSubmit">Save</button><br/><br/>
               
         </form>
    </div>
   </div>
  <div class="row">                 
      <div class="col-md-2"> </div>
      <div class="col-md-10">
           <a href="~/Members/Supplier/Suppliers" class="LnkBtnMyStyle">Suppliers List</a> <a href="~/Members/MainPage" class="LnkBtnMyStyle">Main Page</a> 
      </div>
  </div>
</form>
</body>
</html>