@{
  var db = Database.Open("MeridianComputers");
  var InvoiceId = (Request.QueryString["ID"]);
  if (InvoiceId.IsEmpty()) {
    Response.Redirect("~/Members/Invoices/Invoices");
  }
  var invoice = db.QuerySingle("SELECT *,FORMAT ( InvMain.invDate, 'd', 'en-gb' ) as invoiceDate FROM InvMain WHERE Id = @0", InvoiceId);
  if( IsPost && !InvoiceId.IsEmpty()) {
    var deleteQueryString = "DELETE FROM InvMain WHERE Id=@0";
    db.Execute(deleteQueryString, InvoiceId);
    Response.Redirect("~/Members/Invoices/Invoices");
  }
}

<!DOCTYPE html>
<html>
<head>
  <link href="~/content/bootstrap.css" rel="stylesheet" media="screen" type="text/css">
  <link href="~/content/myStyles.css" rel="stylesheet" media="screen" type="text/css">
  <link href="~/content/StyleSheet.css" rel="stylesheet" media="screen" type="text/css">
  <style>
       .validation-summary-errors{border:2px dashed red;color:red;font-weight:bold; margin:12px; }
      p.itemdesc { color:#f00; display: inline; font-size: 25px; } 
      pre.itemdesc { color:#000; display: inline; font-size: 15px;} 
      pre.itemdesc1 { color:#0026ff; display: inline; font-size: 12px; padding: 5px; height: fit-content;background-color: #e2cbcb} 
      p.itemvalue{ color: #ffd800; display: inline; font-size:20px; background-color: #168800;}
      select.itemvalue{ color: #ffd800; display: inline; font-size:20px; background-color: #808080; font-size: 15px}
      pre.itemvalue{ color: #000;display: inline;font-size:15px; background-color: #BFF3F5;}       
      input.myInputboxStyle {color: #000;display: inline;font-size:15px; background-color: #f7f1ed} 
      textarea.myInputboxStyle {color: #000;display: inline;font-size:15px; background-color: #f7f1ed;width: 300px;height: 100px}      
  </style>

<title>Delete Invoice</title>
</head>

<body>
  <div class="row">
      <br/>
  </div>
  <div class="row">
      <div class="col-md-1"> </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-9">
        <form method="post" action="" name="form">
           <h2>Invoice Delete Confirmation</h2>
           <p class="itemdesc">Are you sure you want to <u>delete</u> the following invoice?</p><br/></br>
           <pre class="itemdesc">Invoice ID:</pre> <pre class="itemvalue">@invoice.Id</pre><br/> <br/> 
           <pre class="itemdesc">Invoice Date:</pre> <pre class="itemvalue">@invoice.invoiceDate</pre><br/> <br/>
           <pre class="itemdesc">Cust ID:</pre> <pre class="itemvalue">@invoice.custId</pre><br/> <br/>
           <pre class="itemdesc">Technician ID:</pre> <pre class="itemvalue">@invoice.techId</pre><br/> <br/>
           <pre class="itemdesc">Task ID:</pre> <pre class="itemvalue">@invoice.taskId</pre><br/> <br/> 
           <p><button type="submit" class="btn btn-danger btn-sm" name="buttonSubmit">Delete</button></p><br/>
        </form>
      </div>
  </div>
 <div class="row">                 
      <div class="col-md-3"> </div>
      <div class="col-md-9">
           <a href="~/Members/Invoices/Invoices" class="LnkBtnMyStyle">Invoice List</a> <a href="~/Members/MainPage" class="LnkBtnMyStyle">Main Page</a> 
      </div>
  </div>
</body>
</html>